# Application
IS_PRODUCTION=false
PORT=3333

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/yes_crm"

# Authentication
JWT_SECRET="replace-with-a-random-secret-containing-at-least-32-characters"
PASSWORD_SALT_ROUNDS=12

# Initial admin user
ADMIN_EMAIL="admin@yescrm.com"
ADMIN_PASSWORD="ChangeMe!123456"
